body{
	font-family: $font__family;
	font-weight: $font__weight--regular;
}
#mailTel{
	ul{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0 20px;
		padding: 0 30px;
		flex-wrap: wrap;
	}	
}

#head{
	background-color:#292929;
	min-height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.logo{
		width: 56px;
		margin-left: 15px;
		background-color: #FFFFFF;
	}
	.botonera {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		li {
			list-style: none;
		}
		a{
			padding: 0rem 1rem;
			text-decoration: none;
			color: #ffffff;
		}
	
	}

}

.encabezado{
	margin: 0;
	text-align: center;
	background-color:$fondo__secundario;
	color: $color__secundario;
	font-size: 1rem;
	span{
		font-weight: $font__weight--bold;
	}
}


.whatsApp{
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
	img{
		width: 65px;
	}
}

#footer {
	margin-top: 50px;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	background-color:$fondo__principal;
	color:$color__principal;
	.logo{
		img{
			width:90px;
			background-color:#FFFFFF;
		}
		p{
			padding-top: 10px;
		}
	}
	.contacto{
		font-size: 1.2rem;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		padding-right:20px;
	}
	.redesSociales{
		ul{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		img{
			width: 65px;
		}
	}	
}


