.preguntasFrecuentes .container{
	text-align: center;
	.titulos{
		font-family:$font__family--titulos;
		font-weight: $font__weight--regular;
		margin-top: 1rem;
		text-align: center;
		background-color:$fondo__secundario;
		color: $color__secundario;
	}
	.preguntas{
		font-size: 1.25rem;
		font-weight: $font__weight--bold;
		padding: 0.25rem;
	}
	.respuestas{
		font-weight: $font__weight--regular;
				font-size: 0.75rem;	
	}
	
}