#quienessomos{
	.titulos{
		font-family:$font__family--titulos;
		font-weight: $font__weight--regular;
		text-align: center;
		background-color:$fondo__secundario;
		color: $color__secundario;
	}
	.textoSomos{
		margin: 0px 80px;
		font-size: 23px;
	}	

}