$fondo__principal:#292929;
$fondo__secundario:#FFDD0E;
$color__principal:#FFFFFF;
$color__secundario:#292929;
$font__family--titulos: 'Contrail One', cursive;
$font__family:'Roboto Condensed', sans-serif;
$font__weight--regular:400;
