$fondo__principal:#292929;
$fondo__secundario:#FFDD0E;
$color__principal:#FFFFFF;
$color__secundario:#292929;
$font__family:'Open Sans', sans-serif;
$font__weight--regular:400;
$font__weight--bold:700;
/*@mixin alturaTamaño($size, $weight){
	font-size: $size;
	font-weight: $weight;
}

.type-regular{
	@include alturaTamaño
(1rem, $fuente-regular);
}
.type-bold{
	@include alturaTamaño
(1.2rem, $fuente-bold);
}*/